<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Arctic Pathing</title>
  </head>
  <body>
    <form method = "POST" action = "/submit" enctype = "multipart/form-data">
     Starting Lat: <input type = "text" name = "lat_start"> <br>
     Starting Lon: <input type = "text" name = "lon_start"> <br>
     Ending Lat: <input type = "text" name = "lat_end"> <br>
     Ending Lon: <input type = "text" name = "lon_end"> <br>
     <input type = "submit" value = "Submit">
    </form>
  </body>
</html>